.Rproj.user
.Rhistory
.RData
.Ruserdata

/input_data

/output_data
/scripts/deprecated
/scripts/extra
/scripts/02a_EXTRA_background_data_nat.R
/scripts/02b_EXTRA_background_data_glob.R
/scripts/02*EXTRA*.R
